body
{
background-image: url(background1.jpg);
background-size: cover;
}

#head{
margin-top: 0;
width: 100%;
text-align: center;
font-size: 30px;

}

#str{
    float: right;
    margin-top: 5px;
}

.modal-body{
    text-align: left;
}

#footer{
    bottom:0px;
    width:100%;
    position:fixed;
    background-color: rgb(30, 216, 154);
    margin:0px;
    height:27px;
    font-size: 20px;

}

#canv{

    border-width: 20px;
    border-color: azure;
    border-style: solid;
}